asgiref
Django>=4.0,<6.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
requests
ollama
PyPDF2
python-docx
pandas
openpyxl
numpy
Pillow
gunicorn